@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* wraper division start */
.wrapper {
  height: 100vh;
  width: 100vw;
}

.main-nav {
  /* height: 10%; */
  height: 72px;
  width: 100%;
  background-color: #3e3c3c;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
}

.main-nav nav {
  width: 50%;
  height: 100%;
}

.main-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-logo a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.main-logo .logo-link:hover {
  animation: rotate 1s linear;
}

.blur {
  filter: blur(2px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mobile-body .nav-ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
}

.main-nav nav .nav-ul {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 32px;
  justify-content: end;
  align-items: center;
}

.main-nav > nav > ul > li .nav-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.main-body {
  height: calc(100vh - 72px);
  width: 100%;
  background-color: #1c1a19;
  background-image: url("./images/background1.png");
  background-size: 35% 100%;
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 50px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  gap: 89px;
}

.main-body .main-container {
  width: 566px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social-icon ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-container .intro {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

.main-container .title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.main-container .description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

/* wraper division end */

/* main body section start */

.recent-work {
  width: 100%;
  background-color: #fff;
  padding-top: 135px;
  padding-right: 143.5px;
  padding-left: 141px;
}

.recent-work .recent-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.recent-work .recent-title .recent-header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  width: 30%;
}

.recent-title .horizontal {
  width: 70%;
}

.recent-title .horizontal hr {
  border: 1px solid #212121;
  background-color: #212121;
  width: 100%;
}

.all-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 114px;
}

.all-projects .project {
  height: 435px;
  width: 100%;
}

.all-projects .project:nth-child(1) {
  height: 448px;
  width: 100%;
  grid-column: span 3;
  display: flex;
}

.multi-image {
  height: 100%;
  width: 60%;
  background: url("./images/multiple.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.project-detail {
  height: 100%;
  width: 40%;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-detail .mult-intro {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.project-detail p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
}

.project-detail ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-detail > .project-tag > li > .project-tag-a {
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.project-detail .see-multi {
  width: 130px;
  height: 48px;
  background: #f55800;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.project-detail .see-multi:hover {
  background: #fff;
  color: #f55800;
  border: 1px solid #f55800;
}

.project-detail .see-multi:focus {
  color: #fff;
  background: #f55800;
}

.project-one {
  display: flex;
  flex-direction: column;
}

.project-one img {
  width: 100%;
  height: 90%;
}

.project-one a {
  width: 100%;
  height: 10%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  background: #f55800;
}

.view-project {
  display: none;
}

.project-one a:hover {
  background: #fff;
  color: #f55800;
  border: 1px solid #f55800;
}

.project-one a:focus {
  color: #fff;
  background: #f55800;
}

.all-projects .project:nth-child(3) {
  background-image: url("./images/project_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 162px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  justify-content: end;
}

.project-two h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-two p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.project-two ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-two ul li .pro-two-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
}

.all-projects .project:nth-child(4) {
  background-image: url("./images/project_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 162px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  justify-content: end;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project-three h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-three p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.project-three ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-three ul li .pro-three-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
}

.all-projects .project:nth-child(5) {
  background-image: url("./images/project_five.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  justify-content: end;
}

.project-four h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-four p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.project-four ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-four ul li .pro-four-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
}

.all-projects .project:nth-child(6) {
  background-image: url("./images/project_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 162px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  justify-content: end;
}

.project-five h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-five p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.project-five ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-five ul li .pro-five-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
}

.all-projects .project:nth-child(7) {
  background-image: url("./images/project_three.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 205px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  justify-content: end;
}

.project-six h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.project-six p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.project-six ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.project-six ul li .pro-six-a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding: 10px 12px;
}

/* main body section end */

/* about me section start */
#about-my-self {
  display: none;
}

.about-me {
  height: 1337px;
  width: 100%;
  background-color: #262626;
  margin-top: 130px;
  background-image: url("./images/about_back.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 40% 30%;
  background-position-y: 99.7px;
  padding-top: 130px;
  padding-left: 142px;
  padding-right: 142px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-me h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

.about-me p {
  width: 566px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

.about-me .get-resu {
  width: 161px;
  height: 48px;
  padding: 12px;
  background: #f55800;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.about-me a:hover {
  background: #fff;
  color: #f55800;
  border: 1px solid #f55800;
  width: 171px;
  height: 48px;
}

.about-me .about-hr {
  margin-top: 139px;
  margin-bottom: 146px;
  border: 1px solid #fff;
  background-color: #fff;
}

.technology-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.single-tech {
  display: flex;
  flex-direction: column;
  gap: 44.73px;
}

.single-tech ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.single-tech .tech-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.tech-title img {
  width: 18px;
  height: 18px;
}

.tech-title h5 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.single-tech ul li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

/* about me section end */

/* contact-me section start */

.contact-me {
  width: 100%;
  height: 686px;
}

.contact-main {
  height: 614px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  padding-left: 110px;
  padding-right: 122px;
  gap: 24px;
}

.contact-main h3 {
  width: 35%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #262626;
}

form {
  width: 65%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contact-footer {
  height: 72px;
  width: 100%;
  border-top: 1px solid #dfe1e6;
}

.input-group {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.name-text {
  width: 100%;
}

.input-group .name-text input {
  height: 18px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  border: none;
}

.input-group .name-text hr {
  margin-top: 14px;
  margin-bottom: 39px;
  background: #dbd8d7;
  height: 1px;
}

.input-group .name-text input:focus {
  outline: 1px solid #0c8ce9;
}

#email {
  border: none;
  width: 100%;
}

#email::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

#email:focus {
  outline: 1px solid #0c8ce9;
}

.form-seprator {
  margin-top: 14px;
  margin-bottom: 24px;
  background: #dbd8d7;
  height: 1px;
}

.message-text {
  width: 100%;
}

form textarea {
  border: none;
  padding: 12px;
  height: 100%;
  width: 100%;
}

form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

form textarea:focus {
  outline: 1px solid #0c8ce9;
  border: 1px solid #0c8ce9;
}

form button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 132px;
  height: 48px;
  background: #f55800;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  opacity: 1;
  transition: 0.3s;
}

form button:hover {
  color: #f55800;
  background: #fff;
  border: 1px solid #f55800;
  opacity: 0.6;
}

form button:focus {
  color: #fff;
  background: #f55800;
}

.contact-footer ul {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 21px;
  padding-top: 25px;
}

.field small {
  color: #dc3545;
  font-weight: bold;
  margin-top: 50px;
}

/* contact section end */

/* model and pop part */
.container-modal {
  height: 100vh;
  width: 100vw;
  top: 42px;
  justify-content: center;
  padding-top: 50px;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: none;
}

.container-modal .modal {
  height: 89%;
  width: 80%;
  left: 0;
  top: 0;
  border-radius: 0;
  background: #fff;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-title img {
  cursor: pointer;
}

.modal-title h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-tag {
  display: flex;
  gap: 28px;
  margin-top: 4px;
}

.modal-tag .single-modal-tag {
  padding: 10px 12px;
  border: 1px solid #979493;
  cursor: pointer;
}

.modal-tag .single-modal-tag .single-tag-item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #3c3a39;
}

.modal-tag li:hover {
  background-color: #f55800;
  color: white;
  border: none;
}

.modal-desc-mobile {
  display: none;
}

.modal-desc {
  display: flex;
  gap: 25px;
  height: 75%;
}

.modal-desc img {
  height: 100%;
  width: 50%;
}

.single-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-desc .single-desc {
  width: 50%;
}

.single-desc p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.modal-btn-view {
  display: flex;
  gap: 7px;
}

.modal-btn-view .modal-btn-see {
  padding: 12px;
  gap: 5px;
  max-width: 154px;
  height: 48px;
  background: #f55800;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.modal-btn-view a:hover {
  background-color: gray;
  color: #f55800;
  border: 1px solid #f55800;
}

/* responsive part :start */
@media all and (max-width: 1360px) {
  .recent-work .recent-title .recent-header {
    font-size: 30px;
  }
}

@media all and (max-width: 1250px) {
  /* recent works section :start */
  .all-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-detail {
    gap: 20px;
  }

  .project-detail .mult-intro {
    font-size: 36px;
    line-height: 39px;
  }

  .project-detail p {
    font-size: 19px;
    line-height: 25px;
  }

  /* recent works section :end */
  .recent-work .recent-title .recent-header {
    font-size: 25px;
  }

  /* about me section :start */
  .about-me {
    background-size: 30% 20%;
  }

  /* about me section :end */
}

@media all and (min-width: 1024px) {
  .contact-main {
    display: flex;
    flex-direction: row;
    padding-left: 135px;
    padding-right: 142px;
    padding-top: 130px;
  }

  .contact-main h3 {
    height: 100%;
    padding-top: 1px;
    display: block;
  }

  form {
    height: 100%;
  }
}

@media all and (max-width: 1024px) {
  /* main upper section :end */
  .main-nav {
    padding-left: 80px;
    padding-right: 80px;
  }

  .main-logo a {
    font-size: 18px;
  }

  .main-body {
    background-size: 30% 90%;
    padding-left: 30px;
    padding-top: 70px;
    gap: 25px;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    background-image: url("./images/illustration-header-mobile.png");
    background-position: bottom right;
  }

  .social-icon ul {
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .main-container .intro {
    font-size: 39px;
    line-height: 67px;
  }

  .main-container .title {
    font-size: 34px;
    line-height: 42px;
  }

  .main-container .description {
    font-size: 23px;
    line-height: 40px;
  }

  .social-icon ul li img {
    height: 30px;
    width: 30px;
  }

  /* main upper section :end */

  /* recent works section :start */
  .recent-work {
    padding-right: 70px;
    padding-left: 70px;
  }

  /* multi -project start */
  .all-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-projects .project:nth-child(1) {
    grid-column: span 2;
    flex-direction: column;
    width: 100%;
    height: 738px;
  }

  .project .multi-image {
    height: 50%;
    width: 100%;
  }

  .project-detail {
    padding-top: 24px;
    width: 100%;
    height: 65%;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  /* multi -project end */

  /* recent works section :end */
  .recent-work .recent-title .recent-header {
    font-size: 20px;
  }

  /* about me section :start */
  .about-me {
    padding-left: 115px;
    padding-right: 115px;
  }

  .about-me p {
    width: 420px;
  }

  /* about me section :end */

  /* technology section :start */
  .single-tech .tech-title {
    gap: 8px;
  }

  .tech-title h5 {
    font-size: 28px;
    line-height: 40px;
  }

  /* technology section :end */

  /* contact me section start */
  .contact-main h3 {
    font-size: 26px;
    line-height: 38px;
    width: 100%;
  }

  form {
    width: 100%;
  }

  .contact-main {
    padding-left: 60px;
    padding-right: 72px;
  }

  /* contact me section end */
}

@media all and (max-width: 768px) {
  /* modal and pop part start */
  .modal-desc {
    display: none;
  }

  .modal-desc-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  .modal-desc-mobile .modal-main-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .modal-tag .single-modal-tag {
    padding: 6px 9px;
  }

  .modal-main-desc img {
    height: 160px;
  }

  .modal-main-desc p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #344563;
  }

  .modal-desc-mobile .modal-btn-view {
    max-height: 48px;
    width: 100%;
    gap: 19px;
  }

  .container-modal .modal {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .modal-tag {
    gap: 8px;
  }

  .modal-btn-view .modal-mobile-btn {
    padding: 12px;
    gap: 12px;
    width: 50%;
    background: #f55800;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  /* modal and pop part end */
  .mobile-body.is-active {
    right: 0;
    display: block;
    transition: 0.6s;
  }

  .nav-ul .close-btn.is-active {
    display: block;
  }

  .main-logo a {
    font-size: 15px;
  }

  #mobile-icon {
    display: block;
  }

  .mob-icon.is-active {
    display: block !important;
  }

  .nav-bar-li {
    display: none;
  }

  .main-nav > nav > ul > li .nav-a {
    font-size: 13px;
  }

  .main-body {
    background-size: 20% 80%;
    padding-left: 20px;
    padding-top: 70px;
    gap: 25px;
  }

  .main-container .intro {
    font-size: 34px;
    line-height: 58px;
  }

  .main-container .title {
    font-size: 28px;
    line-height: 34px;
  }

  .main-container .description {
    font-size: 20px;
    line-height: 25px;
    width: 500px;
  }

  .social-icon ul li img {
    height: 25px;
    width: 25px;
  }

  /* recent works section :start */
  .recent-work {
    padding-right: 20px;
    padding-left: 20px;
  }

  /* recent works section :end */
  .recent-work .recent-title .recent-header {
    font-size: 20px;
    width: 40%;
  }

  .recent-title .horizontal {
    width: 60%;
  }

  /* about me section :start */
  .about-me {
    padding-left: 95px;
    padding-right: 9px;
    background-image: url("./images/about-me.png");
    height: 1901px;
    background-position-y: 242.4px;
  }

  .technology-list {
    display: none;
  }

  #about-my-self {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Inter", serif;
    margin-bottom: 100px;
  }

  #about-my-self .tool-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
  }

  .tool-category h4 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
  }

  .heading1::before {
    content: url("./images/losange.png");
    position: absolute;
    left: -10px;
  }

  .heading2::before {
    content: url("./images/square.png");
    position: absolute;
    left: -10px;
  }

  .heading3::before {
    content: url("./images/circle.png");
    position: absolute;
    left: 1px;
  }

  .tool-category .list-heading .single-heading {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  /* technology section :start */
  .single-tech .tech-title {
    gap: 4px;
  }

  .tech-title h5 {
    font-size: 25px;
    line-height: 37px;
  }

  .single-tech ul {
    gap: 25px;
  }

  /* technology section :end */

  /* contact me section start */
  .contact-main h3 {
    font-size: 26px;
    line-height: 38px;
  }

  .contact-main {
    padding-left: 60px;
    padding-right: 72px;
  }

  /* contact me section end */
}

@media all and (max-width: 667px) {
  /* pop section start */
  .modal-main-desc img {
    height: 160px;
  }

  .modal-main-desc {
    padding-bottom: 5px;
  }

  .modal-btn-view .modal-mobile-btn {
    font-size: 14px;
    padding: 5px;
  }

  .modal-tag .single-modal-tag {
    padding: 6px 8px;
  }

  .modal-main-desc p {
    font-size: 13px;
  }

  .main-logo a {
    font-size: 15px;
  }

  .main-nav > nav > ul > li .nav-a {
    font-size: 13px;
  }

  #mobile-icon {
    display: block;
  }

  .main-nav nav .nav-ul .nav-bar-li {
    display: none;
    background-color: green;
  }

  .main-body {
    background-size: 20% 80%;
    padding-left: 20px;
    padding-top: 100px;
    gap: 35px;
    overflow: hidden;
  }

  .main-container .intro {
    font-size: 38px;
    line-height: 64px;
  }

  .main-container .title {
    font-size: 25px;
    line-height: 28px;
  }

  .main-container .description {
    font-size: 23px;
    line-height: 34px;
    width: 78%;
  }

  /* recent works section :start */
  .recent-work {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* recent works section :end */
  .all-projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .all-projects .project:nth-child(1) {
    grid-column: span 1;
    display: flex;
  }

  /* card three :start */
  .all-projects .project:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .all-projects .project:nth-child(4) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .all-projects .project:nth-child(5) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .all-projects .project:nth-child(6) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .all-projects .project:nth-child(7) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .view-project {
    width: 100%;
    min-height: 48px;
    background-color: #ff6b00;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #view-project-id {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .project-two p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-two h3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-two ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-three p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-three h3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-three ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-four p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-four h3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-four ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-five p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-five h3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-five ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-six p {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-six h3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .project-six ul {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* card three end */
  .multi-image {
    width: 100%;
  }

  .project-detail {
    width: 100%;
  }

  .project-detail > .project-tag > li > .project-tag-a {
    padding: 7px 7px;
  }

  .project-detail .mult-intro {
    font-size: 38px;
    line-height: 47px;
  }

  .project-detail p {
    font-size: 20px;
    line-height: 23px;
    width: 100%;
  }

  .project-detail ul {
    grid-area: 5px;
  }

  .recent-work .recent-title .recent-header {
    font-size: 20px;
    width: 50%;
  }

  .recent-title .horizontal {
    width: 50%;
  }

  /* about me section :start */
  .about-me {
    padding-left: 24px;
    padding-right: 25px;
    padding-top: 120px;
    height: 1901px;
    background-position-y: 242.4px;
  }

  .about-me h3 {
    font-size: 48px;
    line-height: 76px;
  }

  .about-me p {
    width: 80%;
    font-size: 16px;
    line-height: 28px;
  }

  .about-me .about-hr {
    margin-top: 201px;
    margin-right: 16px;
    margin-bottom: 137.6px;
  }

  .technology-list {
    display: none;
  }

  #about-my-self {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Inter", serif;
    margin-bottom: 100px;
  }

  #about-my-self .tool-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
  }

  .tool-category h4 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
  }

  .heading1::before {
    content: url("./images/losange.png");
    position: absolute;
    left: -10px;
  }

  .heading2::before {
    content: url("./images/square.png");
    position: absolute;
    left: -10px;
  }

  .heading3::before {
    content: url("./images/circle.png");
    position: absolute;
    left: 1px;
  }

  .tool-category .list-heading .single-heading {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    color: #fff;
  }

  /* about me section :end */

  .contact-main {
    padding-top: 60px;
  }
}

@media all and (max-width: 480px) {
  /* modal pop start */
  .container-modal {
    padding-top: 10px;
  }

  .container-modal .modal {
    width: 90%;
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-btn-view a {
    line-height: 1px;
    gap: 0;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 0;
    justify-content: space-between;
  }

  .modal-desc img {
    max-height: 150px;
  }

  .modal-title h3 {
    font-size: 20px;
  }

  .modal-tag .single-modal-tag {
    padding: 5px 4px;
  }

  .modal-btn-view .modal-mobile-btn {
    font-size: 10px;
  }

  .modal-btn-view {
    gap: 2px;
  }

  /* modal popup end */

  .main-logo a {
    font-size: 10px;
  }

  .main-nav nav .nav-ul {
    gap: 10px;
  }

  .main-nav > nav > ul > li .nav-a {
    font-size: 11px;
  }

  .main-body {
    padding-left: 10px;
    padding-top: 100px;
    gap: 15px;
    background-size: 50% 50%;
  }

  .social-icon ul {
    gap: 10px;
  }

  .main-container .intro {
    font-size: 30px;
    line-height: 39px;
  }

  .main-container .title {
    font-size: 20px;
    line-height: 35px;
  }

  .main-container .description {
    font-size: 20px;
    line-height: 30px;
    max-width: 300px;
  }

  /* recent works section :start */
  .recent-work {
    padding-right: 1px;
    padding-left: 1px;
  }

  .recent-work .recent-title .recent-header {
    font-size: 15px;
    width: 40%;
  }

  .recent-title .horizontal {
    width: 60%;
  }

  .recent-work .recent-title {
    gap: 14px;
  }

  /* recent works section :end */
  .project-detail .mult-intro {
    font-size: 29px;
  }

  .project-detail p {
    font-size: 22px;
    line-height: 18px;
  }

  .project-detail ul {
    gap: 8px;
  }

  .project-detail > .project-tag > li > .project-tag-a {
    padding: 10px 12px;
  }

  .multi-image {
    width: 100%;
    height: 30%;
  }

  .project-detail {
    width: 100%;
    height: 70%;
    gap: 37px;
  }

  /* about me section :start */
  .about-me {
    padding-left: 24px;
    padding-right: 24px;
    background-position-y: 249.7px;
  }

  .about-me h3 {
    font-size: 40px;
    line-height: 66px;
  }

  .about-me p {
    font-size: 16px;
    line-height: 24px;
  }

  /* about me section :end */

  /* technology section :start */
  .single-tech .tech-title {
    gap: 1px;
  }

  .tech-title h5 {
    font-size: 14px;
    line-height: 26px;
  }

  .single-tech ul {
    gap: 16px;
  }

  .single-tech ul li {
    font-size: 14px;
    line-height: 31px;
  }

  /* technology section :end */

  /* contact me section start */
  .contact-main {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  /* contact me section end */
}

@media all and (max-width: 320px) {
  /* modal and pop part */
  .container-modal {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container-modal .modal {
    height: 80%;
    justify-content: space-between;
    gap: 1px;
  }

  .modal-title h3 {
    font-size: 16px;
    line-height: 13px;
  }

  .modal-tag {
    gap: 3px;
    margin-top: 0;
  }

  .modal-tag li {
    padding: 3px 3px;
  }

  .modal-tag li .single-tag-item {
    font-size: 12px;
  }

  .modal-tag .single-modal-tag {
    padding: 2px 3px;
  }

  .modal-tag .single-modal-tag .single-tag-item {
    font-size: 10px;
  }

  .modal-main-desc img {
    height: 130px;
  }

  .single-desc {
    width: 100%;
  }

  .single-desc p {
    height: auto;
    line-height: 12px;
    font-size: 12px;
  }

  .modal-btn-view {
    position: static;
    margin-top: 8px;
  }

  .modal-btn-view .modal-mobile-btn {
    padding: 2px;
    gap: 1px;
  }

  /* modal pop end */
  .main-logo {
    justify-content: center;
  }

  .main-logo a {
    font-size: 9px;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav nav .nav-ul {
    gap: 6px;
    justify-content: center;
  }

  .main-nav > nav > .nav-ul > li a {
    font-size: 8px;
  }

  .main-body {
    background-size: 20% 40%;
    padding-left: 10px;
    padding-top: 100px;
    gap: 18px;
  }

  .main-container .intro {
    font-size: 20px;
    line-height: 27px;
  }

  .main-container .title {
    font-size: 19px;
    line-height: 28px;
  }

  .main-container .description {
    font-size: 18px;
    line-height: 22px;
    width: 200px;
  }

  /* recent works section :start */
  .recent-work {
    padding-right: 1px;
    padding-left: 1px;
  }

  /* recent works section :end */
  .project-detail .mult-intro {
    font-size: 23px;
  }

  .project-detail {
    width: 100%;
    height: 70%;
    gap: 40px;
  }

  .project-detail p {
    font-size: 14px;
    line-height: 22px;
  }

  .project-detail ul {
    gap: 3px;
  }

  .project-detail > .project-tag > li > .project-tag-a {
    padding: 6px 12px;
    font-size: 12px;
  }

  .multi-image {
    width: 100%;
    height: 30%;
  }

  .all-projects .project:nth-child(3) {
    padding-top: 140px;
  }

  .all-projects .project:nth-child(4) {
    padding-top: 140px;
  }

  .all-projects .project:nth-child(5) {
    padding-top: 100px;
  }

  .all-projects .project:nth-child(6) {
    padding-top: 140px;
  }

  .all-projects .project:nth-child(7) {
    padding-top: 140px;
  }

  .recent-work .recent-title .recent-header {
    font-size: 15px;
    width: 60%;
  }

  .recent-title .horizontal {
    width: 40%;
  }

  /* about me section :start */
  .about-me {
    padding-left: 8px;
    padding-right: 8px;
  }

  .about-me h3 {
    font-size: 36px;
    line-height: 60px;
  }

  .about-me p {
    font-size: 13px;
    line-height: 20px;
  }

  /* about me section :end */

  /* technology section :start */
  .single-tech .tech-title {
    gap: 1px;
  }

  .tech-title h5 {
    font-size: 14px;
    line-height: 26px;
  }

  .single-tech ul {
    gap: 16px;
  }

  .single-tech ul li {
    font-size: 14px;
    line-height: 30px;
  }

  /* technology section :end */

  /* contact me section start */
  .contact-main {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* contact me section end */
}

/* mobile toggle section start */
.mob-icon {
  display: none !important;
}

.nav-ul .close-btn {
  display: none;
}

.mobile-body {
  position: fixed;
  top: 72px;
  background-color: #3e3c3c;
  width: 100%;
  height: 100%;
  z-index: 99;
  right: 100%;
  display: none;
  transition: all 3s;
}

.mobile-body .nav-ul li {
  border-bottom: 1px solid #6f6c6b;
  padding: 10px;
}

.mobile-body .nav-ul li a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  letter-spacing: 1px;
}
